<div class="navbar">
  <div class="a-wrapper">
    <a routerLink="/">
      <button mat-mini-fab>
        <mat-icon>article</mat-icon>
      </button>
    </a>
  </div>
  <div class="a-wrapper">
    <a routerLink="/">
      <button mat-mini-fab>
        <mat-icon>article</mat-icon>
      </button>
    </a>
  </div>
  <div class="a-add-btn">
    <a routerLink="/">
      <button mat-mini-fab>
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </div>
  <div class="a-wrapper">
    <a routerLink="/">
      <button mat-mini-fab>
        <mat-icon>article</mat-icon>
      </button>
    </a>
  </div>
  <div class="a-wrapper">
    <a routerLink="/">
      <button mat-mini-fab>
        <mat-icon>article</mat-icon>
      </button>
    </a>
  </div>
</div>
