<div class="spinner" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="container">
    <div class="login-box">
      <div class="heading">
        <p>Login</p>
      </div>
      <div class="form">
        <form [formGroup]="signInForm">
          <div class="form-label">
            <p>Email</p>
          </div>
          <mat-form-field appearance="outline">
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
          <div class="form-label">
            <p>Password</p>
          </div>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <div class="submit-btn">
        <button mat-icon-button (click)="onClickLogout()">
          Next
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>

      <div class="forgot-password">
        <app-forgot-password></app-forgot-password>
      </div>
    </div>
  </div>
</div>
