<mat-toolbar>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="onClickCloseDialog()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div>
  <div class="container">
    <div class="content">
      <h4>Enter Your Email</h4>
      <form [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </mat-form-field>
      </form>
      <div class="submit-btn">
        <button
          mat-raised-button
          [disabled]="form.invalid"
          (click)="onClickChangePassword()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
